body {
    margin: 0;
    font-family: Poppins-Regular;
}

.limiter {
    width: 100%;
    background: #ABCDEF;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 93vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.table-div {
    border: #f2f2f2 solid 1px;
    border-radius: 10px;
    overflow: hidden;
    width: 1096px;
    margin: auto;
}

.table-div input {
    width: 100%;
    border: white;
}

.table-div table {
    border-collapse: collapse;
    width: 100%;
}

.table-div thead {
    background-color: #136a8a;
    color: white;
}

.table-div tbody {
    background-color: white;
}

.table-div tbody>tr:hover {
    background-color: #ececff;
}

.table-div th,
.table-div td {
    padding: 20px 40px 20px 20px;
    text-align: left;
}

ul{
    height: 7vh;
}

ul a,
ul a:hover {
    text-decoration: none;
}

ul a:hover{
    color: #136a8a;
}

.table-div td i {
    cursor: pointer;
}